.Header {
    display: flex;
    align-items: center;
    margin-bottom: 5em;
  }
  
  .Header__left {
    display: flex;
    align-items: center;
  }
  
  .left__logo {
    
    width: 15%;
  }
  
  .left__logoImage {
    width: 100%;
  }
  
  .left__Home{
    margin-left: 2em;
  }
  .left__notifications {
    display: flex;
    align-items: center;
  }
  
  .left__notifications {
    margin-left: 1em;
  }
  
  .current-location {
    color: #3d27b9;
    ;
  }
  
  .Header__center {
    display: flex;
    align-items: center;
    margin-right: 25%;
  }
  
  .Header__center:hover {
    border: 1px solid rgb(238, 255, 0);
  }
  
  .center__inputField {
    border: none;
  }
  
  .Header__right {
    display: flex;
    align-items: center;
    margin-right: 0ex;
  }
  
  .right__user,
  .right__Icon,
  .right-btn {
    margin-right: 2em;
  }
  
  .right-btn {
    border-radius: 999px;
    padding: 0.1em 2em;
    background-color: rebeccapurple;
    color: rgb(250, 245, 245);
  }