body {
  margin-top: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form.create-note {
  position: relative;
  width: 40.625rem;
  right:0.625rem;
  margin: 30px auto 20px 60px;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}


form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}


form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #00008B;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}



.note{  background: #fff;

  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 40.625rem;
  margin-top: 20px;
  margin-left: 3.125rem;
  float: left;

}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note .voteup{
  position:relative;
  /* float: left; */
  top:70px;
  display:inline;
  margin-right: 10px;
  margin-bottom: 0px;
  color: #00008B;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  outline: none;
}
.note .votedown{
  position:relative;
  /* float: left; */

  left:60px;
  top:10px;
  display:inline;
  color: #00008B;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  outline: none;
}

.note .count{
  position: relative;
  left:35px;
  top:45px;
}

.note .report{
  position:relative;
  /* float: left; */

  left:85px;
  top:10px;
  display:inline;
  color: #00008B;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  outline: none;
}
.note .delete {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #00008B;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}
